{% extends "si_users/base.html" %}
{% load static %}

{% block title %}
    <title>LogIn</title>
{% endblock %}

{% block content %}
    <div class="container">
        {% if form.non_field_errors %}
            <div class="row justify-content-center align-items-end">
                <div class="col-8">
                    <div class="alert alert-warning alert-dismissible fade show">
                        {{ form.non_field_errors }}
                    </div>
                    {#                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis debitis eos perferendis#}
                    {#                    veniam.#}
                    {#                    Aliquam asperiores dolorem fugiat praesentium quidem quis reiciendis vitae voluptate. Aut fugit#}
                    {#                    ipsum nihil nobis non tempora.</p>#}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="login">
                <h1>Login</h1>
                <form action="{% url "si_users:login" %}" method="post">{% csrf_token %}
                    {{ form.username }}
                    {{ form.password }}
                    {#               Вывести сбоку описание?? #}
                    {#                {{ form.username.id_for_label }} #}

                    <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
