{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>

    <form action="{% url "si_users:profile" %}" method="post" enctype="multipart/form-data">
        <div>
            <img width="100" height="100" src="
            {% if user.image %}
                {{ user.image.url }}
            {% else %}
                {% static "/img/users/dobavit_polzovatelya_512.png" %}
            {% endif %}">
        </div>
    </form>



</body>
</html>