{% extends "si_users/base.html" %}
{% load static %}

{% block title %}
    <title>Регистрация пользователя</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row ">
            <div class="col-8">
                <h2 style="color: deepskyblue">Регистрация пользователя.</h2>
            </div>
        </div>

        {% if form.errors %}
            <div class="row justify-content-center align-items-end">
                <div class="col-8">
                    <div class="alert alert-warning alert-dismissible fade show">
                        {{ form.errors }}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="wrapper">
            <form action="{% url "si_users:registration" %}" method="post">{% csrf_token %}
                <div class="row">
                    <label class="col-2" for="{{ form.first_name.id_for_label }}">Имя: </label>
                    <div class="col-4">{{ form.first_name }}</div>
                </div>

                <div class="row">
                    <label class="col-2" for="{{ form.last_name.id_for_label }}">Фамилия: </label>
                    <div class="col-4">{{ form.last_name }}</div>
                </div>

                <div class="row">
                    <label class="col-2" for="{{ form.username.id_for_label }}">Имя пользователя: </label>
                    <div class="col-4">{{ form.username }}</div>
                </div>

                <div class="row">
                    <label class="col-2" for="{{ form.email.id_for_label }}">e-mail: </label>
                    <div class="col-4">{{ form.email }}</div>
                </div>

                <div class="row">
                    <label class="col-2" for="{{ form.password1.id_for_label }}">Пароль: </label>
                    <div class="col-4">{{ form.password1 }}</div>
                </div>

                <div class="row">
                    <label class="col-2" for="{{ form.password2.id_for_label }}">Подтверждение пароля: </label>
                    <div class="col-4">{{ form.password2 }}</div>
                </div>

                <button type="submit" class=" col-3 btn btn-primary btn-block btn-large">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}


