{% extends "si_system/base.html" %}

{% block title %}
    <h1>Система контроля тестирования</h1>
{% endblock %}

{#block nav#}
{% block nav %}
{#  <nav class="navbar navbar-expand-lg navbar-light bg-light">#}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="#">Noguzadericshenskiy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDevice" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Изделия
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Добавить новое изделие</a>
          <a class="dropdown-item" href="#">Редактировать</a>
          <a class="dropdown-item" href="#">Удалить</a>
          <a class="dropdown-item" href="{% url "si_devices:version_create" %}">Добавить версию</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Сделать еще кое что</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarCheck" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Испытания
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Список испытаний</a>
          <a class="dropdown-item" href="#">Создать</a>
          <a class="dropdown-item" href="#">Редактировать</a>
          <a class="dropdown-item" href="#">Удалить</a>
          <a class="dropdown-item" href="#">Добавить метод</a>
          <a class="dropdown-item" href="#">Редактироать метод</a>
          <a class="dropdown-item" href="#">Удалить метод</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarReport" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Отчеты/выборки
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Испытания в работе</a>
          <a class="dropdown-item" href="#">Ожидают</a>
          <a class="dropdown-item" href="#">Доработка</a>
          <a class="dropdown-item" href="#">Завершенные</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

    <div class="inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>
        <a class="button" href="#">Link</a>
    </div>


{#      <li class="nav-item dropdown">#}
{#        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#          Dropdown#}
{#        </a>#}
{#        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#          <a class="dropdown-item" href="#">Action</a>#}
{#          <a class="dropdown-item" href="#">Another action</a>#}
{#          <div class="dropdown-divider"></div>#}
{#          <a class="dropdown-item" href="#">Something else here</a>#}
{#        </div>#}
{#      </li>#}


{#    <form class="form-inline my-2 my-lg-0">#}
{#      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#    </form>#}
  </div>
</nav>
{% endblock %}


{% block content %}
    <h3>Страница в разработке</h3>
{% endblock %}

{% block footer %}
    <div class="fixed-bottom ">
        <p>Оказать материальную помощь разработчику</p>
    </div>
{% endblock %}

