{% extends "si_system/index.html" %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="row" style="padding: 50px">
        <div id="device"
            class="col-5" style="background-color: #6f94c6; font-size: 150%"     
            hx-target="this"
            hx-swap="outerHTML"
            >
            <h3>{{ title }} {{ device_info.full_name }} </h3>
            
            <p>{{ device.name }}</p>
            <p>{{ device.get_version_display }}</p>
            <p>{{ device.bord }}</p>
            <p>{{ device.firmware }}</p>
            <p>{{ device.decimal_num }}</p>
            <p>{{ device.constructor }}</p>
            <p>{{ device.get_type_release_display }}</p>
            <p>{{ device.description }}</p>
            
            <button class="btn btn-primary"
                    hx-get="{% url "si_devices:device-update" device.id %}" 
            >Изменить</button>
        </div>
        
        <div id="notepad"
             class="col-7" style="background-color: #f5dd5d"
             hx-target="this"
             hx-swap="outerHTML">
            <h3>Заметки</h3>
            
            <div>
                
            </div>
        </div>
    </div>
    
    <div id="testing"
        class="col-12" style="background-color: powderblue"
        >
        <p>блок тестирования/изменений</p>
    </div>
{% endblock %}



{#{% block content %}#}
{#    <h3>{{ title }} {{ description.full_name }} </h3>#}
{##}
{#    <div class="row">#}
{#        <div class="col-4 " style="background-color: #f5dd5d">#}
{#            блок информации#}
{#            {% block info_device %}#}
{#                <div hx-target="this" #}
{#                     hx-swap="outerHTML">#}
{#                     #}
{#                    <div class="d-flex justify-content-end">#}
                        {#                    <div class="inline my-2 my-lg-0">#}
{#                        <button hx-get="{% url "si_devices:device_edit" description.id %}" class="btn btn-info">#}
{#                            Изменить btn#}
{#                        </button>#}
{#                        <a class="btn btn-info  my-2 my-sm-0" href="#">Изменить</a>#}
                        {#                    </div>#}
{#                    </div>#}
{#                    <table class="table table-info table-striped">#}
{#                        <thead>#}
{#                        <th scope="col">Параметр</th>#}
{#                        <th scope="col">Значение</th>#}
{#                        </thead>#}
{##}
{#                        <tbody>#}
{#                        <tr>#}
{#                            <td class="col-2">Наименование:</td>#}
{#                            <td class="col-3">{{ description.name }}</td>#}
{#                        </tr>#}
{##}
{#                        <tr>#}
{#                            <td>Версия:</td>#}
{#                            <td>{{ description.version }}</td>#}
{#                        </tr>#}
{##}
{#                        <tr>#}
{#                            <td>Плата:</td>#}
{#                            <td>{{ description.bord }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Прошивка:</td>#}
{#                            <td>{{ description.firmware }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Децимальный номер:</td>#}
{#                            <td>{{ description.decimal_num }}</td>#}
{#                        </tr>#}
{#                        <tr {% if description.get_type_release_display == "Серия" %}#}
{#                            class="table-success" {% elif description.get_type_release_display == "Опытное" %}#}
{#                            class="table-warning" {% endif %}>#}
{#                            <td>Тип выпуска:</td>#}
{#                            <td>{{ description.get_type_release_display }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Конструктор:</td>#}
{#                            <td>{{ description.constructor }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Описание:</td>#}
{#                            <td>{{ description.description }}</td>#}
{#                        </tr>#}
{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}
{#            {% endblock %}#}
{#        </div>#}
{##}
{#        <div class="col-8" style="background-color: #5b80b2">блок заметок по изделию#}
{#            {% block notebook_device %}#}
{##}
{#            {% endblock %}#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="row">#}
{#        {% block testing_device %}#}
{#            <h3 class="col">Испытания</h3>#}
{#            <div class="col-12">Блок испытаний#}
{#            </div>#}
{#        {% endblock %}#}
{#    </div>#}
{#{% endblock %}#}
