<div 
     id="device-form"
{#     hx-target="device"#}
     hx-target="#device"   
     hx-swap="outerHTML"
     >
    <h3>Редактирование изделия</h3>
    
    <form> 
        {% csrf_token %}
        {{ form.as_p }}
        
        <button class="btn btn-primary"
            hx-put="{% url "si_devices:device-update" device.id %}"
            type="submit"
            hx-target="#device-form">Send
        </button>
        
        <button class="btn btn-primary">Cancel
        </button>
    </form>
</div>
