{#{% extends "si_devices/device_detail.html" %}#}
{#{% load static %}#}

{#{% block info_device%}#}
<div hx-target="this" hx-swap="outerHTML">
    <form>
    {% csrf_token %}
    {{ form.as_p }}
        
    <button hx-put="{% url "si_devices:device_edit" device.id %}" 
            type="submit"
            class="btn">Submit</button>    
    </form>
    
</div>

{#<form hx-put="{% url "si_devices:device_detail" device.id %}" hx-target="this" hx-swap="outerHTML">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <div class="col-2 form-group">#}
{##}
        {#    <label>Last Name</label>#}
        {#    <input type="text" name="lastName" value="Blow">#}
{##}
{#        <button class="btn">Submit</button>#}
{#        <button class="btn"#}
{#                hx-get="{% url "si_devices:device_detail" device.id %}">#}
{#            Cancel#}
{#        </button>#}
{#    </div>#}
{#</form>#}

{#{% endblock %}#}
